footer{
    background-color: #1B242F;
    margin: 0;
    padding: 20px;
    height: 200px;
    display: flex;
    text-align: center;
    color: white;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}