---
import '../styles/contact.css';

---
<div id="contact">
    <div class="textAbout">
        <h2 >CONTACT ME</h2>
        <i class="bi bi-arrow-bar-down"></i>
    </div>
    <form id="contactForm" class="needs-validation" novalidate>
        <div class="form-floating mb-3">
            <input type="text" class="form-control inputContact" id="username" name="username"  placeholder="Name" required>
            <label for="username">Name</label>
            <div class="invalid-feedback">
                Please write a name.
            </div>
        </div>
        <div class="form-floating mb-3">
            <input type="email" class="form-control inputContact" id="email" name="email" placeholder="Email" required>
            <label for="email">Email address</label>
            <div class="invalid-feedback">
                Email is not valid
            </div>
        </div>
        <div class="form-floating mb-3">
            <textarea class="form-control" placeholder="Leave a comment here" name="message" id="message" style="height: 200px" required></textarea>
            <label for="message">Message</label>
            <div class="invalid-feedback">
                A nessage is required
            </div>
          </div>
        <div>
            <button class="btn btn-success btn-lg" type="submit" id="btnContact">Send</button>
        </div>
    </form>
    <!--VENTANA TOAST PARA AVISOS-->
    <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11;">
        <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header bg-danger" id="toastHeader">
                <img src="/logo.svg" class="rounded me-2" width="10%" alt="...">
                <strong class="me-auto text-white">Contact</strong>
                <small class='text-white'>Notifications</small>
                <button type="button" class="btn-close text-white" data-bs-dismiss="toast" aria-label="Close" style='color:white !important;background-color: white !important;'></button>
            </div>
            <div class="toast-body bg-white" id="toastAdvice">
                <i class="bi bi-exclamation-circle" style='color:red !important'></i>&nbsp;Por favor llena todos los campos del formulario
            </div>
        </div>
    </div>
</div>

<script>

    import '../scripts/contact.js'
    

</script>