---
interface Props {
    titulo:string
    content?:string
}
const {titulo,content}=Astro.props
---

<h1>gracias por visitar el proyecto {titulo}</h1>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Velit necessitatibus dolorum laudantium.</p>