---
import '../styles/stars.css';
---
<div class="background-night" id="backgroundNight" data-bs-spy="scroll" data-bs-target="#navbar" data-bs-offset="0" tabindex="0">
    <div class="main">
        <div class="main-text mb-4">
            <div>Hi, I'm <span class="name">Yojay De Horta.</span> </div>
            
            I am a full-stack web developer.        
        </div>
        <a class="btn btn-outline-light btn-lg" id="btnStart" href="#aboutMe">Click to start <i class="bi bi-caret-right-fill iconButton"></i>
        </a>
    </div>
    
    <div id="night">
        <!-- <div class="star" ></div>
        <div class="star" ></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div> -->
    </div>

</div>

<script>
    import '../scripts/stars.js'


</script>