---
import '../styles/stars.css';
---
<div class="background-night" id="backgroundNight" data-bs-spy="scroll" data-bs-target="#navbar" data-bs-offset="0" tabindex="0">
    <div class="main">
        <div class="main-text mb-4">
            <div>Hola, soy <span class="name">Yojay De Horta.</span> </div>
            
            Soy un desarrollador web full-stack.
        </div>
        <a class="btn btn-outline-light" id="btnStart" href="#aboutMe">Ver mis proyectos <i class="bi bi-chevron-right iconButton"></i>
        </a>
    </div>
    
    <div id="night">
        <!-- <div class="star" ></div>
        <div class="star" ></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div> -->
    </div>

</div>

<script>
    import '../scripts/stars.js'


</script>